.post-title {
  font-size: 28px; }

article {
  padding-bottom: 40px; }

.post-meta {
  padding: 5px 0 30px 0;
  font-size: 11px;
  color: #999999;
  text-transform: uppercase;
  font-weight: bold; }
  .post-meta div {
    margin-right: 10px;
    float: left; }
  .post-meta .facebook-share {
    padding-top: 1px; }
  .post-meta .author {
    padding-top: 1px; }
