#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The string given to #compile and #route are matching patterns for
#   identifiers--not for paths. Therefore, you can’t match on extension.
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

compile '/sass/*' do
  # don’t filter or layout
  filter :sass
end

compile '/posts/*' do
  filter :kramdown
  filter :colorize_syntax
end

compile '/js/*' do
end

compile '/index*' do
  if item.identifier =~ /html/
    filter :haml
    layout 'default.html'
  elsif item.identifier =~ /xml/
    filter :haml
  end
end

compile '*' do
  if item.binary?
    # don’t filter binary items
  else
    filter :haml
    layout 'default.html'
  end
end

route '/sass/*' do
  "/css/" + File.basename(item.identifier.chop)
end

route '/js/*' do
  "/js/" + File.basename(item.identifier.chop) + ".js"
end

route '/index*' do
  path = item.identifier.chop
  File.join(File.dirname(path), File.basename(path, File.extname(path)))
end

route '*' do
  if item.binary?
    # Write item with identifier /foo/ to /foo.ext
    item.identifier.chop + '.' + item[:extension]
  else
    ext = File.extname(item.identifier.chop)
    if ext == ""
      item.identifier + 'index.html'
    else
      path = item.identifier.chop
      path
    end
  end
end

layout '*', :haml
