$light-gray: #ddd
$green: #7ca300
$font-color: #666

@mixin rounded($radius: 10px)
  border-radius: $radius
  -moz-border-radius: $radius
  -webkit-border-radius: $radius

body
  background: url('/images/bg-noise.jpg') repeat
  color: $font-color

h1, h2, h3
  color: $font-color

.grey-bottom-bar
  border-bottom: 1px solid #ddd

section
  p
    font-size: 16px

#floating
  position: fixed
  top: 100px



.stay-right
  position: fixed
  right: 0
  top: 110px

#header
  background: url('/images/bg-noise.jpg') repeat
  font-size: 1.1em
  margin-top: 21px
  height: 52px
  border-bottom: 1px solid $light-gray

  .nav
    text-transform: uppercase
    padding: 0
    border: 0

    li
      padding: 5px 0 5px 20px

    a
      color: #333
      @include rounded(0px)
      padding: 3px 0 5px 0

      &:hover
        border-bottom: 5px solid $green

      &.active
        border-bottom: 5px solid $light-gray

      &.active:hover
        border-bottom: 5px solid $green
