---
title: Home
---

- sorted_articles.each do |article|
  %section.article
    .page-header.span9.grey-bottom-bar
      %h2= article[:title]
    .row
      .span9
        = article.compiled_content



