---
title: Home
---

.row.span10
  - sorted_articles.each do |article|
    %section.article
      .page-header.grey-bottom-bar
        %h2= article[:title]
      .span10
        = article.compiled_content





