#header
  %a{:href => "/"}
    %img.logo{:alt => "Base Logo", :src => "/images/base-logo.png"}
  %ul.nav.nav-pills.pull-right
    %li
      %a{:href => "/rss.xml"} Subscribe
    %li
      %a{:href => "http://hackkrk.com/", :target => "_blank"} HackKRK
    %li
      %a{:href => "http://getbase.com/careers/", :target => "_blank"} Jobs
  .clear
