#header
  .row
    .span4
      %a{:href => "/"}
        %img.logo{:alt => "FS Logo", :src => "/images/logo-fs.png"}
    .span8
      %ul.nav.nav-pills.pull-right
        %li
          %a.active{:href => "/"} Blog
        %li
          %a{:href => "/rss"} RSS
