!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "A technology blog of Base developers. Ruby, JavaScript, Java, Objective-C coders share their passion here!"}
      = render "_meta.html"
  %body
    = render "_analytics.html"
    .container.bottom-space
      = render "_header.html"
      .clear
      = yield
