!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "A technology blog of Future Simple developers. Ruby, JavaScript, Java, Objective C coders share their passion here!"}
      = render "_meta.html"
  %body
    .container
      = render "_header.html"
      .clear
      = yield
